html { overflow-y: scroll; }
body { margin: 0; background-color: rgb(244,246,249); }

header {
    color: rgb(226,225,225);
    background-color: rgb(0,51,102);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header h1 { margin-left: 15px; font-size: 18px; }

.logoBox { display: flex; align-items: center; gap: 10px; }

header nav {
    display: flex;
    gap: 15px;
}

header nav a.active {
    color: white;
}

header nav a.active::after {
    width: 100%;
}

header nav a {
    color: silver;
    text-decoration: none;
    position: relative;
    padding: 6px 0;
    transition: color 0.3s;
}
header nav a::after {
    content: "";
    position: absolute;
    left: 0; bottom: -3px;
    width: 0; height: 2px;
    background: rgb(255,102,0);
    transition: width 0.3s;
}
header nav a:hover { color: white; }
header nav a:hover::after { width: 100%; }

header > a {
    background-color: rgb(255,102,0);
    color: black;
    padding: 8px 14px;
    border-radius: 5px;
    transition: 0.3s;
    text-decoration: none;
}
header > a:hover {
    background: #ff7f32;
    color: white;
}
header img { border-radius: 50%; }
