body{
  font-family: Arial, sans-serif;
}
main {
  max-width: 700px;
  margin: 80px auto;
  padding: 40px;
  text-align: center;
  font-family: Arial, sans-serif;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.15);
  height: 250px;
}

main h2 {
  color: rgb(0, 51, 102);
  margin-bottom: 15px;
}

main p {
  font-size: 16px;
  color: #333;
}
